/* Extra styling alongside bootstrap */

body {
	font-family: Abel;
	margin: 0 0;
	padding: 0 0;
	text-align: center;

}

.nav-link {
	color: #333;
}


#top img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	max-width: 100%;
}

#top h1 {
	border: 5px solid #000;
	font-size: 48px;
	padding: 0 2em;
	margin-top: 6.5em;
	margin-bottom: 0.5em;
	display: inline-block;
	width: 50%;
}

.dropdown-menu {
	position: absolute;
}

.dropdown-item {
	overflow: visible;
}

#about-us h1{
	font-size: 4em;
}

#about-us p{
	font-size: 1.2em;
}

#about-us-body ul{
	font-size: 1.2em;
	text-align: left;
}

#about-us-body img {
	max-height: 100%
}

.blog-pic {
	width: 100%;
}

.photo-hi {
	max-width: 100%;
	padding: 5px;
}

.subscribing {
	width: 400px;
	font-size: 24px;
}

#bottom {
	font-size: 32px;
	font-weight: bold;
}

.bottom-nav {
	font-size: 22px;
	font-weight: bold;
}

@media (max-width: 1440px) {
  #top h1 {
    margin-top: 7.5em;
  }
}

@media(max-width:1024px) {
  body {
    max-width: 1024px;
  }

  #top h1 {
  margin-top: 5em;
  width: 510px;
  font-size: 44px;
  }

  #about-us h1{
    font-size: 40px;
  }

  #about-us p{
    font-size: 18px;
  }

  #about-us-body img {
    max-width: 210px;
  }

  #about-us-body ul{
    font-size: 14px;
  }

}

@media(max-width:768px) {
  body {
    max-width: 768px;
  }

  #top h1 {
  margin-top: 5em;
  width: 425px;
  font-size: 32px;
  }

  #top img {
    max-width: 768px;
  }

  #about-us h1{
    font-size: 40px;
  }

  #about-us p{
    font-size: 14px;
  }

  #about-us-body img {
    max-width: 100%;
  }

  #about-us-body ul{
    font-size: 14px;
  }

  .blog-post {
    max-height: 210px;
    overflow: hidden;
  }

  .blog-right {
    font-size: 12px;
    overflow: hidden;
  }

  #last-photo {
    display: none;
  }

  .subscribing {
    font-size: 16px;
    max-width: 320px
  }
}

@media(max-width:425px) {
  body {
    max-width: 425px;
  }

  #top {
    margin-top: -175px;
  }

  #top img {
    position: relative;
    left: 0;
    top: 270px;
    max-width: 425px;
  }

  #top h1 {
  margin-top: 3.5em;
  width: 425px;
  font-size: 32px;
  }

  #about-us h1{
    font-size: 40px;
  }

  #about-us p{
    font-size: 14px;
  }

  #about-us-body ul{
    font-size: 14px;
  }

  .blog-post {
    max-height: 135px;
    overflow: hidden;
  }

  .blog-right {
    font-size: 12px;
    overflow: hidden;
  }

  .subscribing {
    max-width: 70%;
    font-size: 14px;
  }
}

@media(max-width:375px) {
  body {
    max-width: 375px;
  }

  #top {
    margin-top: -150px;
  }

  #top img {
    position: relative;
    left: 0;
    top: 270px;
    max-width: 375px;
  }

  #top h1 {
  margin-top: 3.5em;
  width: 375px;
  font-size: 32px;
  }

  #about-us h1{
    font-size: 40px;
  }

  #about-us p{
    font-size: 14px;
  }

  #about-us-body ul{
    font-size: 12px;
  }

  .blog-post {
    max-height: 120px;
    overflow: hidden;
  }

  .blog-right {
    font-size: 12px;
    overflow: hidden;
  }

  .subscribing {
    max-width: 70%;
    font-size: 14px;
  }
}

@media(max-width:320px) {

    body {
      max-width: 320px;
    }

    #top {
      margin-top: -125px;
    }

  	#top img {
      position: relative;
      left: 0;
      top: 270px;
      max-width: 320px;
    }

    #top h1 {
    margin-top: 3.5em;
    width: 320px;
    font-size: 32px;
  }

  #about-us h1{
    font-size: 40px;
  }

  #about-us p{
    font-size: 14px;
  }

  #about-us-body ul{
    font-size: 12px;
  }

  .blog-right {
    font-size: 10px;
    max-height: 100px;
    overflow: hidden;
  }

  .photo-highlights {
    margin-top: 1em;
  }

  .subscribing {
    max-width: 70%;
    font-size: 14px;
  }
}
